{% import "_context.html" as _cxt %}
{% set _form = "mainform" %}
<div ng-controller="EditCtrl" url="{{ url_for("role_api") }}" ng-init="getEntry()">
    {% call _cxt.header('角色管理', '角色编辑') %}
        {{ _cxt.header_save(_form) }}
        {{ _cxt.header_cancel() }}
    {% endcall %}
    <div class="page-content scrollable">
        <form class="form-horizontal" ng-submit="submit()" novalidate name="{{ _form }}" role="form">
            {% call _cxt.formgroup('角色名称', size=[2,5]) %}
                {{ _cxt.input("name", model="model.name", form=_form, required=True, minlength=1, maxlength=20) }}
            {% endcall %}

            {% call _cxt.formgroup('权限') %}
            {% endcall %}

            {% call _cxt.formgroup('备注') %}
                <textarea class="form-control" rows="5" name="desc" ng-model="model.desc"></textarea>
            {% endcall %}

            {% call _cxt.formgroup() %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.is_admin" /> 管理后台
                    </label>
                </div>
            {% endcall %}

            {% call _cxt.formgroup() %}
                <button ng-disabled="{{ _form }}.$invalid || sending" class="btn btn-success"><i class="icon icon-save"></i> 保存</button>
            {% endcall %}
        </form>
    </div>
</div>