{% import "_context.html" as _cxt %}
{% set _form = "form" %}
<div ng-controller="EditCtrl" url="{{ url_for("role_api") }}" ng-init="getEntry();">
    {% call _cxt.header('角色管理', '角色编辑') %}
        {{ _cxt.header_save(_form) }}
        {{ _cxt.header_cancel() }}
    {% endcall %}
    <div class="page-content scrollable">
        <form class="form-horizontal" ng-submit="submit()" novalidate name="{{ _form }}" role="form">
            {% call _cxt.form_group('角色名称', size=[2,5]) %}
                {{ _cxt.input("name", model="model.name", form=_form, required=True, minlength=1, maxlength=20) }}
            {% endcall %}

            {% call _cxt.form_group('权限') %}
                <treeview selectable="true" src="{{ url_for('role.menu_tree') }}" model="model.admin_auth_list"></treeview>
            {% endcall %}

            {% call _cxt.form_group('备注') %}
                <textarea class="form-control" rows="5" name="desc" ng-model="model.desc"></textarea>
            {% endcall %}

            {% call _cxt.form_group() %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.is_admin" /> 管理后台
                    </label>
                </div>
            {% endcall %}

            {{ _cxt.form_save(_form) }}
        </form>
    </div>
</div>