{% macro header(h1, h2="") -%}
    <div class="page-header">
        <h3>{{ h1 }} <small><i class="icon icon-angle-double-right"></i> {{ h2 }}</small></h3>
        <div class="buttons btn-group">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}
{% macro header_refresh() -%}
    <a class="btn btn-default" ng-click="update()"><i class="icon icon-refresh"></i> 更新</a>
{%- endmacro %}
{% macro header_new(src) -%}
    <a class="btn btn-success" href="{{ src }}"><i class="icon icon-plus"></i> 新建</a>
{%- endmacro %}
{% macro header_remove(src) -%}
    <a class="btn btn-danger" ng-click="multiRemove('{{ src }}')">
        <i class="icon icon-trash-o"></i> 删除
        <div ng-show="noSelected" class="tip-in alert alert-danger">至少选择一个项目</div>
    </a>
{%- endmacro %}
{% macro header_cancel() -%}
    <a ng-click="back()" class="btn btn-default"><i class="icon icon-reply"></i> 取消</a>
{%- endmacro %}
{% macro header_save(form) -%}
<a ng-disabled="{{ form }}.$invalid || sending" ng-click="submit()" class="btn btn-success"><i class="icon icon-save"></i> 保存</a>
{% endmacro %}


{% macro filter() -%}
    <form class="form-inline" ng-submit="page=1;setLocation();">
        {{ caller() }}
        <label class="form-group"><button class="btn btn-primary">确定</button></label>
        <label class="form-group"><button ng-click="filters={}" class="btn btn-default">重置</button></label>
    </form>
{%- endmacro %}


{% macro thead() -%}
    <thead>
        <tr>{{ caller() }}</tr>
    </thead>
{%- endmacro %}
{% macro th_select() -%}
    <th style="width: 30px;"><i ng-class="{'icon':true, 'icon-square-o':!allSelected, 'icon-check-square-o':allSelected}" ng-click="selectAll()"></i></th>
{%- endmacro %}
{% macro th_sort(key, text, class='', style='') -%}
    <th class="{{ class }}" style="{{ style }}" ng-click="sort('{{ key }}')">{{ text }} <i ng-class="{'icon':true, 'icon-sort':order.by!='{{ key }}', 'icon-sort-up':order.by=='{{ key }}'&&order.asc==1, 'icon-sort-down':order.by=='{{ key }}'&&order.asc==-1}"></i></th>
{%- endmacro %}

{% macro tbody() -%}
    <tbody>
        <tr ng-click="item.$isChecked=!item.$isChecked" ng-class="{'active':item.$isChecked}" ng-repeat="item in data">
            {{ caller() }}
        </tr>
    </tbody>
{%- endmacro %}
{% macro td_select() -%}
    <td><i ng-class="{'icon':true, 'icon-square-o':!item.$isChecked, 'icon-check-square-o':item.$isChecked}"></i></td>
{%- endmacro %}


{% macro form_group(label=None, size=[2,10]) -%}
    <div class="form-group">
        {% if label -%}
            <label class="col-sm-{{ size[0] }} control-label">{{ label }}</label>
            <div class="col-sm-{{ size[1] }}">{{ caller() }}</div>
        {%- else -%}
            <div class="col-sm-offset-{{ size[0] }} col-sm-{{ size[1] }}">{{ caller() }}</div>
        {%- endif %}
    </div>
{%- endmacro %}
{% macro form_save(form) -%}
    {% call form_group() %}
    <button ng-disabled="{{ form }}.$invalid || sending" class="btn btn-success"><i class="icon icon-save"></i> 保存</button>
    {% endcall %}
{%- endmacro %}


{%- macro input(name='', form='', type='text', class='form-control', placeholder='', required=False, model=None, minlength=0, maxlength=0, pattern=None) -%}
    <input name="{{ name }}" type="{{ type }}"  class="{{ class }}" placeholder="{{ placeholder }}" {% if required %}required{% endif %}
           {% if model %}ng-model="{{ model }}"{% endif %} {% if pattern %}ng-pattern="{{ pattern }}"{% endif %}
           {% if minlength > 0 %}ng-minlength="{{ minlength }}" {% endif %} {% if maxlength > 0 %}ng-maxlength="{{ maxlength }}" {% endif %} />
    {%- if required -%}
        <span class="help-block" ng-show="{{ form }}.{{ name }}.$dirty && {{ form }}.{{ name }}.$error.required">不能为空！</span>
    {%- endif -%}
    {%- if type != 'text' -%}
        <span class="help-block" ng-show="{{ form }}.{{ name }}.$error.{{ type }}">格式不正确！</span>
    {%- endif -%}
    {%- if minlength > 0 -%}
        <span class="help-block" ng-show="{{ form }}.{{ name }}.$error.minlength">长度不能少于{{ minlength }}个字符！</span>
    {%- endif -%}
    {%- if maxlength > 0 -%}
        <span class="help-block" ng-show="{{ form }}.{{ name }}.$error.maxlength">长度不能大于{{ maxlength }}个字符！</span>
    {%- endif -%}
{%- endmacro -%}


{% macro pagination() -%}
    <div class="pagination-wrapper">
        <pagination total-items="total" page="page" items-per-page="size" max-size="pageSize" class="pagination-small" boundary-links="true" rotate="false"></pagination>
        <span>共 {{total}} 条，当前 {{(page-1)*size+1}}-{{(page*size)>total?total:(page*size)}}</span>
    </div>
{%- endmacro %}


