{% macro pagination() -%}
<div class="pagination-wrapper">
    <pagination total-items="total" page="page" items-per-page="size" max-size="pageSize" on-select-page="selectPage(page)" class="pagination-small" boundary-links="true" rotate="false"></pagination>
    <span>共 {{total}} 条，当前 {{(page-1)*size+1}}-{{(page*size)>total?total:(page*size)}}</span>
</div>
{%- endmacro %}


{% macro formgroup(label=None, size=[2,10]) -%}
    <div class="form-group">
        {% if label -%}
            <label class="col-sm-{{ size[0] }} control-label">{{ label }}</label>
            <div class="col-sm-{{ size[1] }}">{{ caller() }}</div>
        {%- else -%}
            <div class="col-sm-offset-{{ size[0] }} col-sm-{{ size[1] }}">{{ caller() }}</div>
        {%- endif %}
    </div>
{%- endmacro %}


{%- macro input(name='', form='', type='text', class='form-control', placeholder='', required=False, model=None, minlength=0, maxlength=0, pattern=None) -%}
    <input name="{{ name }}" type="{{ type }}"  class="{{ class }}" placeholder="{{ placeholder }}" {% if required %}required{% endif %}
           {% if model %}ng-model="{{ model }}"{% endif %} {% if pattern %}ng-pattern="{{ pattern }}"{% endif %}
           {% if minlength > 0 %}ng-minlength="{{ minlength }}" {% endif %} {% if maxlength > 0 %}ng-maxlength="{{ maxlength }}" {% endif %} />
    {%- if required -%}
        <span class="text-danger help-block" ng-show="{{ form }}.{{ name }}.$dirty && {{ form }}.{{ name }}.$error.required">不能为空！</span>
    {%- endif -%}
    {%- if type != 'text' -%}
        <span class="text-danger help-block" ng-show="{{ form }}.{{ name }}.$error.{{ type }}">格式不正确！</span>
    {%- endif -%}
    {%- if minlength > 0 -%}
        <span class="text-danger help-block" ng-show="{{ form }}.{{ name }}.$error.minlength">长度不能少于{{ minlength }}个字符！</span>
    {%- endif -%}
    {%- if maxlength > 0 -%}
        <span class="text-danger help-block" ng-show="{{ form }}.{{ name }}.$error.maxlength">长度不能大于{{ maxlength }}个字符！</span>
    {%- endif -%}
{%- endmacro -%}