<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>index</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body ng-controller="AppCtrl">
    <div class="header">
        <div class="logo">
            Administrator
        </div>

        <div class="profile">
            <a href="javascript:"><i class="icon icon-user"></i> {{ admin.name }}</a>
            <a href="{{ url_for('home.signout') }}" target="_self"><i class="icon-signout"></i> 退出</a>
        </div>

        <a class="menu-hidden-desktop" href="javascript:"><i class="icon-reorder"></i> 菜单</a>
    </div>

    <div ng-show="informs.length>0&&loading()<=0" class="message-top" src="{{ url_for('trash_api') }}" ng-controller="MessageCtrl">
        <div ng-repeat="inform in informs" class="alert alert-{{inform.type}} {{inform.dismiss!=0?'alert-dismissable':''}} fade in informer">
            <button ng-show="inform.dismiss!=0" type="button" ng-click="close($index)" class="close">×</button>
            {{inform.message}} &nbsp;
            <a ng-show="inform.undo" href="javascript:;" ng-click="undo(inform.undo)">撤销 <i class="icon icon-reply"></i></a>
        </div>
    </div>

    <div ng-class="{'main-nav':true, 'full':mainFolded}">
        <div class="caption">
            <span>Navigation</span>
        </div>
        <ul class="nav" ng-controller="NavCtrl">
            {% for m in menu %}
            <li ng-class="{'active':node=='{{ m.url }}'}">
                <a ng-class="{'highlight':highlight=='{{ m.url }}', 'node':true}" href="javascript:;" ng-click="active('{{ m.url }}', true)"><i class="icon {{ m.icon }}"></i> {{ m.title }}</a>
                {% if m.children -%}
                <ul class="nav" collapse="!node['{{ m.url }}']">
                    {% for s in m.children %}
                    <li><a ng-class="{'highlight':highlight=='{{ s.url }}'}" ng-click="active('{{ s.url }}')" href="{{ s.url }}">{{ s.title }}</a></li>
                    {% endfor %}
                </ul>
                {%- endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div ng-class="{'page-wrapper':true, 'slide-reveal':true, 'full':mainFolded}" onload="afterPageLoad()" ng-show="loading()<=0" page-include></div>

    <div ng-show="loading()>0">
        <div class="loading"></div>
        <div class="message-top">
            <div class="alert alert-warning fade in">
                处理中...
            </div>
        </div>
    </div>

    {% include("scripts.html") %}

</body>
</html>