<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>index</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body ng-controller="AppCtrl">
    <div class="header">
        <div class="logo">
            Administrator
        </div>

        <div class="profile">
            <a href="javascript:"><i class="icon icon-user"></i> {{ admin.name }}</a>
            <a href="{{ url_for('home.signout') }}"><i class="icon-signout"></i> 退出</a>
        </div>

        <a class="menu-hidden-desktop" href="javascript:"><i class="icon-reorder"></i> 菜单</a>
    </div>

    <div ng-class="{'main-nav':true, 'full':mainFolded}">
        <div class="caption">
            <span>Navigation</span>
        </div>
        <ul class="nav" ng-controller="NavCtrl">
            {% for m in menu %}
            <li ng-class="{'active':node=='{{ m.url }}'}">
                <a ng-class="{'highlight':highlight=='{{ m.url }}', 'node':true}" href="javascript:;" ng-click="active('{{ m.url }}', true)"><i class="icon {{ m.icon }}"></i> {{ m.title }}</a>
                {% if m.children -%}
                <ul class="nav" collapse="!node['{{ m.url }}']">
                    {% for s in m.children %}
                    <li><a ng-class="{'highlight':highlight=='{{ s.url }}'}" ng-click="active('{{ s.url }}')" href="{{ s.url }}">{{ s.title }}</a></li>
                    {% endfor %}
                </ul>
                {%- endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div ng-class="{'page-wrapper':true, 'full':mainFolded}" ng-show="loading">Loading...</div>
    <div ng-class="{'page-wrapper':true, 'slide-reveal':true, 'full':mainFolded}" onload="afterPageLoad()" ng-hide="loading" ng-include="currentPage"></div>

    {% include("scripts.html") %}
</body>
</html>