<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>index</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="logo">
            Administrator
        </div>

        <div class="profile">
            <a href="javascript:"><i class="icon icon-user"></i> {{ admin.name }}</a>
            <a href="{{ url_for('home.signout') }}"><i class="icon-signout"></i> 退出</a>
        </div>

        <a class="menu-hidden-desktop" href="javascript:"><i class="icon-reorder"></i> 菜单</a>
    </div>

    <div class="menu-nav">
        <div class="caption">
            <span>MENU</span>
            <a class="nav-close" href="javascript:;"><i class="icon-double-angle-left"></i></a>
            <a class="nav-open" href="javascript:;"><i class="icon-double-angle-right"></i></a>
        </div>
        <ul class="nav menu" ng-controller="menuCtrl">
            {% for m in menu %}
            <li ng-class="{active:node=='{{ m.url }}'}" ng-click="active('{{ m.url }}')">
                <a class="node" href="javascript:;"><i class="icon {{ m.icon }}"></i> {{ m.title }}</a>
                {% if m.children -%}
                <ul class="nav" collapse="node!='{{ m.url }}'">
                    {% for s in m.children %}
                    <li><a class="link" ng-click="render('{{ s.url }}')" href="javascript:"><i class="icon {{ s.icon }}"></i> {{ s.title }}</a></li>
                    {% endfor %}
                </ul>
                {%- endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-wrapper" ng-controller="mainCtrl">
        {{render}}
    </div>

    {% include("scripts.html") %}
</body>
</html>