<script src="{{ url_for('static', filename='js/lib/angular.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/lib/ui-bootstrap-tpls-0.10.0.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/lib/ui-utils.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/lib/angular-sanitize.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/services.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/controllers/app.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/controllers/document.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/register.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/lib/Markdown.Converter.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/Markdown.Editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/Markdown.Sanitizer.js') }}"></script>
